.file-label {
    color: #ffffff;
    background-color: #1E90FF;
    padding: 40px;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-size: 20px;
    border-radius: 20px;
    transition: color .5s;
}

.file-label:hover {
    cursor: pointer;
    color: #000000;
}