@import url('./__question/info__question.css');
@import url('./button-info_next/button-info_next.css');

.info {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;
    font-family: Roboto medium, sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}