@import url('./__wrapper/header__wrapper.css');
@import url('./__elements/header__elements.css');

.header {
    margin: 0 auto;
    width: 1200px;
    height: 512px;
    background-image: url('../../images/header-pic.jpg');
    display: flex;
}